.container {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  width: 30rem;
  background: linear-gradient(rgb(227, 250, 255), rgb(62, 185, 237));
  border-radius: 20px;
  font-family: "Montserrat Alternates", sans-serif;
  color: white;
  text-shadow: 3px 3px #a9d3eccf;
  padding: 25px;
}
.weather-border {
  margin: 15px;
}
.top {
  display: block;
  text-align: center;
  font-weight: 300;
  margin-bottom: 0.5rem;
}
.date {
  font-size: 1.3rem;
}
.city {
  font-size: 2.3rem;
  font-weight: normal;
}
.temperature {
  font-size: 4rem;
  font-weight: normal;
}
.celsius {
  display: flex;
  float: right;
  font-size: 1rem;
}
.info-columns {
  display: flex;
  direction: row;
  align-items: center;
  justify-content: space-around;
}
.description-column {
  text-shadow: none;
}
.description {
  font-weight: bold;
}
ul {
  list-style: none;
}
